<h1>BookMark</h1>

<table>
  <tr>
    <th id="mission_title"> [Select Mission] </th>
  </tr>
</table>

<form method="get" action="show" id="mission_select">

Mission: <select name="mission_selection">
<option value="1">(テスト)ミッション１</option>
<option value="2">(テスト)ミッション２</option>
<option value="3">(テスト)ミッション３</option>
</select>
</br>
<p><input type="submit" value="-START-"></p>

</form>
