
<h1>Bookmark</h1>
<% @task = Bookmark.find(:last) %>
<p>
TestTitle : <%= params[:mission_selection] %>
</p>
<p>
Task Name : <%= @task.name %>
</p>
<p>
Start Time : <%= @task.start_time %>
</p>
<p>
End Time : <%= @task.end_time %>
</p>
