// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th#mission_title {
  left: 6em;
  right: 6em;
  background-color: #ff9;
  font-size: 2.5em;
  font-weight: bold;  
}